[Unit]
Description=FastAPI app
After=network.target

[Service]
User=sreeja
group=sreeja
WorkingDirectory=/home/sreeja/app/src/
Environment="PATH=/home/sreeja/app/env/bin
EnvironmentFile=home/sreeja/.env
ExecStart=/home/sreeja/app/env/bin/gunicorn app.main:app -w 4 -k uvicorn.workers.UvicornWorker --bind 0.0.0.0:8000


[Install]
WantedBy=multi-user.target